<table border="1">
<tr>
<th>Name</th>
<th>Type</th>
</tr>
{foreach from=$locations item=location}
<tr>
<td><a href="location-view.php?locId={$location.locId}">{$location.name|escape}</a></td>
<td>
<form method="post" action="types-edit-handler.php">
<input type="hidden" name="next" value="types-list.php">
<input type="hidden" name="locId" value="{$location.locId}">
<select name="type">
{foreach from=$possibleTypes item=possibleType}
<option
{if $possibleType == $location.type}
selected="selected"
{/if}
>{$possibleType}</option>
{/foreach}
</select>
<input type="submit" value="Change">
</form>
</td>
</tr>
{/foreach}
<table>
