<div id="banner">

        <form action="/location-search.php" id="searchForm">
<!--        <form action="/location-search-tree.php" id="searchForm">
-->
                <input name="query" value="{$query}" />
                <input type="submit" value="Search" />
        </form>
	<a href="/"><!--<img src="/images/logo.png" id="logo">--><h1>Cartiki</h1></a>
        <div id="navbar">
                <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/recent.php">Recent Changes</a></li>
                        <li><a href="/feedback.php">Feedback</a></li>
                <ul>
        </div>
</div>
