                <!-- for map -->
                <script src="http://maps.google.com/maps?file=api&amp;v=2.95&amp;key={$gmapsApiKey}" type="text/javascript"></script>
                <script src="/js/func.boundsToPolyline.js" type="text/javascript"></script>
                <script src="/js/pdmarker.js" type="text/javascript"></script>
                <script src="/js/func.createPdMarker.4.js" type="text/javascript"></script>

                <!-- testing for map -->
                <script src="/js/func.addLocation.js" type="text/javascript"></script>

                <!-- for custom map only -->
		<script src="http://gmapuploader.com/js/gmapuploader.8.js" type="text/javascript"></script>
